/ServletA/ServletA/nbproject/private/
/ServletA/ServletA/build/
/ServletA/ServletA/dist/
MITransporte Ofline/app/src/main/res/layout/activity_mapas.xml
MITransporte Ofline/app/src/main/java/com/example/mitransporteoffline/Mapas.java
MITransporte Ofline/app/build.gradle.kts
/Servidor/Servidor/nbproject/private/
/Mensajes/MITransporte/nbproject/private/
/Mensajes/MITransporte/build/
